.navbar{
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  /* background-color: black; */

}
.links{
    border: 5px solid red;
    text-align: center;
    
}

.nav-link{
    border: 2px solid red;
}

.nav-link:active{
    background-color: black;
}