.title-page{
text-align: center;
}

.shadowb{
    transition: 0.3s;
    margin-top: 10px;
}
.shadowb:hover{
    box-shadow: 5px 10px 8px #00000017;

}
.card-desc{
    display:flex;
    flex-direction: column;
    /* align-content: center; */
}

.card-img-top{
    max-height: 200px;
}